* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    animation: bodyFade 0.5s ease forwards;
}
body{
    margin:0;
    padding:0;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('https://images.unsplash.com/photo-1643913588380-ee9f06bb26bd?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;          
    background-position: center;   
    background-repeat: no-repeat;
    background-attachment: fixed;  
}

.login-container {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px; 
    margin: 0; 
}

.login-box {
    background: rgba(53, 49, 49, 0.422);
    border: 1px solid rgba(223, 223, 223, 0.788);
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    max-width: 90%; 
    text-align: center;
    color: #fff;
    animation: fadeZoom 0.6s ease forwards;
    opacity: 0;
    transform: scale(0.9);
}


.message-box {
    
    margin-top: 20px;
    margin-bottom: 20px !important; 
    text-align: left; 
    font-size: 14px;
    font-weight: 500;
}


.logo {
    width: 130px;
}


.social-login {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
    margin-top: 15px; 
}
.social-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 6px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.1);
    color: #fff;
}
form input::placeholder {
    color: #ccc;
}


.options {
    text-align: right;
    margin: 5px 0 15px;
}
.options a {
    font-size: 12px;
    color: #cb8c2d;
    text-decoration: none;
}

.options a:hover {
    color: #ffffff;
}

.login-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #cb8c2d;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.login-btn:hover {
    background: #ffffffd5;
}

.create {
    margin-top: 15px;
}
.create a{
    font-size: 12px;
    color: #cb8c2d;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
}
.create a:hover {
color: #ffffff;
}

@keyframes fadeZoom {
    to{
        opacity: 1;
        transform:scale(1) ;
    }
}

@keyframes bodyFade {
    to {
        opacity: 1;
    }

}
