
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: inset 0 0 10px rgba(72, 72, 72, 0.5);
  
}

header img {
  height: 70px;
  animation: fadeIn 1s ease forwards;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  display: inline-block;
  transition: background 0.3s, color 0.3s, transform 0.3s;
  
}

nav a:hover {
  background: #0026ff;
  color: #ffffff;
  transform: scale(1.1);
  border-radius: 40px;
}



@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.background h1 {
  font-size: 4rem;
  margin-top: 10px;
  display: inline-block;
  animation: fadeInText 1.5s ease forwards;
}


.user-menu {
  position: relative;
  display: inline-block;
}

.user-menu .a {
  display: flex;
  align-items: center;
  gap: 6px;
}

.dropdown {
  position: absolute;
  top: 110%;
  right: 0;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  display: none;
  flex-direction: column;
  min-width: 150px;
  overflow: hidden;
  z-index: 99;
  animation: fadeDown 0.2s ease;
}

.dropdown a {
  color: #0026ff;
  padding: 10px 16px;
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
}

.dropdown a:hover {
  background: #0026ff;
  color: #ffffff;
}


.dropdown.show {
  display: flex;
}


@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.why {
  padding: 40px 50px;
}
.why h2 {
  margin-bottom: 15px;
}
.bg2{
    
  background: #cb9200;
  color: #fff;
  padding: 40px 20px; 
  text-align: center;

}

.hotel-title {
  display: flex;
  justify-content: center;   
  align-items: center;
  text-align: center;        
  margin: 30px auto;         
  max-width: 980px;          
  padding: 20px 30px;       
  background: #fff;          
  border-radius: 15px;      
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); 
}
.hotel-title .hotel-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;

  
}
.hotel-title .hotel-details p {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}


.reservation {
  background: #fff; 
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  width: 80%;
  max-width: 1000px;
  text-align: center;
	justify-content: center;
	margin: 20px auto;
}

.hotel-info {
  flex-basis: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.stay {
  font-size: 18px;
  max-width: 800px;
  line-height: 1.6;
  color: #555555ff;
}
.date-form {
  width: 100%;
  background: #ffffff;
  padding: 15px;
  border-radius: 8px;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 2PX SOLID #001bb3;
}

.date-form label {
  display: inline-block;
  margin: 0 15px;
  font-weight: bold;
  color: #333;
}
.date-form input {
  padding: 6px 12px;
  border: 1px solid #0c0094;
  border-radius: 6px;
  margin-left: 8px;

}


.booking-list {
  flex: 3;
  display: flex;
  flex-direction: column; 
  gap: 20px;
  color: #333;
}

.room-card {
  background: white;
  border: 2px solid #19008a;
  border-radius: 8px;
  padding: 15px;
  width: 50%;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.room-card:hover {
  transform: translateY(-5px);
}
.room-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 15px;
}
.room-card h3 {
  margin: 10px 0;
  font-size: 22px;
  color: #004aad;
}
.room-card p {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}
.room-card button {
  padding: 10px 20px;
  border: none;
  background: #004aad;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.room-card button:hover {
  background: #002f80;
}

.my-booking {
  flex: 1;
  background: #fff;
  border: 2px solid #000095;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 100px; 
  align-self: flex-start; 
  
}
.my-booking, .my-booking * {
  color: #333 !important;
}

.my-booking h2 {
  color: #004aad;
   border:2px solid #000095;
   padding: 10px 0;
   margin: 10px;
   border-radius: 10px;

}
.my-booking ul {
  margin-bottom: 15px;
  padding-left: 0;       
  list-style: none;  
  border-bottom: 1px solid #000000;
}
.my-booking li {
   margin-bottom: 8px;
  font-size: 15px;
  color: #333;
  padding: 6px 0;        
  border-bottom: 1px solid #000000;
}
.my-booking li:last-child {
  border-bottom: none;   
}

.button2 {
  background: #004aed;
  color: #fff !important;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 15px;
  border-radius: 15px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  position: relative; 
  z-index: 1;
}

.button2:hover {
  background: #001bb3;
  transform: translateY(-6px) scale(1.07); 
  box-shadow: 0 12px 25px rgba(0, 70, 255, 0.45); 

}

footer {
  background: black;
  color: white;
  padding: 20px 50px;
  margin-top: 50px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.footer-left {
  font-size: 14px;
}
.back-top {
  display: inline-block;
  background: #0044ff;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  margin-left: 60px;
}
.back-top i {
  margin-right: 8px;
}

.back-top:hover {
  background: #002db3;
  transform: translateY(-6px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes gentleRotate {
  0% { transform: rotate(-1deg); }
  50% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
}


@keyframes gradientText {
  0% { background-position: 0%; }
  100% { background-position: 200%; }
}

header {
  animation: slideDown 1s ease forwards;
}

header img {
  animation: fadeIn 1s ease forwards;
}

nav a {
  animation: fadeInUp 1s ease forwards;
  
}

section, .why, .hotel-title, .reservation, .my-booking, footer {
  opacity: 0;
  animation: fadeInUp 1.2s ease forwards;
  animation-delay: 0.3s;
}

.room-card {
  animation: zoomIn 1s ease forwards;
}

button, .a, .back-top {
  position: relative;
  overflow: hidden;
}

button::after, .a::after, .back-top::after {
  content: "";
  position: absolute;
  top: 0; left: -100%;
  width: 100%; height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease;
}

button:hover::after,  .a:hover::after, .back-top:hover::after {
  left: 100%;
}


footer {
  animation: fadeIn 2s ease forwards;
}
